* {
    box-sizing: border-box;
}

body {
	margin:0;
	padding:0;
	color: #000;
	background: #EBFEFF;
	font-size: 100%;
	text-rendering: optimizeLegibility;
  background-size: 115vmax;
}

.main_page {
  background-image: url("../images/background_opt.jpg");
  background-blend-mode: hard-light;
  background-color: rgba(128, 128, 128, 0.9);
}

.bio {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: Verdana, Geneva, sans-serif;
}

.bio h1 {
  margin: auto;
  font-size: 300%;
}

.bio p {
  margin: auto;
}

.download_box {
  padding: 20px 0;
  margin: auto;
  width: 20vw;
  border: 2px solid #000000;
  border-style: solid;
  color: #386DE8;
}

.download_box a {
  text-align: center;
  color: #000000;
  display: block;
}

/* avatar */
.avatar {
  margin: auto;
  width: 80vmin;
  height: 80vmin;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  object-fit: scale-down;
  border: 1vmin solid #000000;
  border-style: solid;
}
 
.avatar img {
  display: block;
  /*margin-left: -10%; //centers the image */
  max-width: 100vmin;
  max-height: 100vmin;
  height: auto;
  width: 100%;
}

/* navbar */
.navbar {
  background-color: #33300F;
  overflow: hidden;
  font-family: Verdana, Geneva, sans-serif;
}

.navbar a {
    float: left;
    display: block;
    color: #f3f3f3;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 16px;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar .active {
    background-color: #4DA4D4;
    color: white;
}